<h1><%= @user.email %></h1>


<% if @user.images.any? %>

  <% @user.images.each do |image| %>
    <ul>
      <li>
        <%= link_to image.pic, user_image_path(@user, image) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No images are listed for this user.</p>
<% end %>

<p><%= link_to "Add an image", new_user_image_path(@user) %></p>

<p><%= link_to "Edit", edit_user_path(@user) %></p>
<p><%= link_to "Delete user", user_path(@user),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to users", users_path %></p>
