<h2>New Image</h2>
<hr>

<%= form_for @image do |f| %>
  <%= f.label :pic %><br />
  <%= f.file_field :pic %><br />
  <%= f.label :captopn %><br />
  <%= f.text_field :caption %><br />

  <%= f.submit %>
<% end %>
