<%= image_tag(@post.url(:medium)) %>
<h3><%= @image.caption %></h3>


<% if @image.comments.any? %>
  <h4>Here are the comments for this image:</h4>

  <% @image.comments.each do |comment| %>
    <ul>
      <li>
        <%= link_to comment.text_body, image_comment_path(@image, comment) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No comments are listed for this image.</p>
<% end %>

<p><%= link_to "Add a comment", new_image_comment_path(@image) %></p>

<p><%= link_to "Edit", edit_image_path(@image) %></p>
<p><%= link_to "Delete image", image_path(@image),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to images", images_path %></p>
